<!DOCTYPE html>
<html>
  <head>
    <title>Kittens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %><br><br>
    <% end %>
    <%= link_to 'Create a Kitten', new_kitten_path %>
    <%= link_to 'View all Kittens', kittens_path %><br><br>
    <%= yield %>
  </body>
</html>
